.planos{
    .row{
        .planos__wrapper{
            .planos__wrapper-izq{
                background-color: #e8e9e9;
                margin: 0 0 0 16%;
                color: #245576;
                span{
                    color: #81b74f;
                }
            }
        }
    }
}